<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Auto</a>
    </div>

<!-- Collect the nav links, forms, and other content for toggling -->
    <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show='currentUsername'>
          <a href="#/myprofile"> Hello, {{currentUsername}} </a>
        </li>
        <li ng-hide='currentUsername'>
          <a href="#/register">Register</a>
        </li>
        <li ng-hide='currentUsername'>
          <a href="#/login">Log In</a>
        </li>
        <li ng-show='currentUsername'>
          <a href="#" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav>
<div ng-controller="NavCtrl" class="n">

  <ul class="">
    <li> {{currentUser}}</li>
    <li>
      <a href="profile/">Profile</a>
    </li>
    <li>
      <a href="register/">Register</a>
    </li>
    <li>
      <a href="login/">Log In</a>
    </li>
    <li>
      <a href="#" ng-click="logout()">Logout</a>
    </li>
    <li>
      <a href="#" ng-click="checkUser()">Check User</a>
    </li>
  </ul>
</div>

</nav>
 -->
